.game-showcase {
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center the content horizontally */
    margin-top: 40px;
  }
  
  .game-gif {
    width: 100%;
    max-width: 300px; /* Adjust size as needed */
    border-radius: 8px;
    margin-right: 20px; /* Space between the GIF and the button */
  }
  
  .download-button {
    background-color: #6c63ff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #5a54cc;
  }
  